@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
	background: linear-gradient(0deg, #AED9FF, #FF81B0);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: monospace;
	display: flex;
	margin: 0 auto;
	padding: 0;
	color: #fff;
}

.hidden {
  display: none;
}

.container
{
  width: 1080px;
  height: auto;
  margin: 0 auto;
  background-color: #ee3621;
  background: linear-gradient(0deg, #8BD6FF, #FF1A66);
  padding: 0px;
  padding-top: 10px;
 }

.mainHeader {
	width: 1080px;
	height: 708px;
	background-color: black; 
	background: url(../images/headerImg3.jpg);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	margin-left: 8px;
}


.logoHeader {
	margin-top: 235px;
	margin-left: 425px;
	margin-bottom: 35px;
	/*background: white;*/
	/*margin-top: 5px;
	margin-left: 10px;*/
	height: 200px;
	width: 220px;
}

 svg {
	animation-name: logo_anim;
	animation-duration: 1.8s;
	animation-iteration-count: 1;
}

@keyframes logo_anim {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.st4, .st0, .st5, .st6 {
	animation-name: first_anim;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
	animation-timing-function: linear;
	/*animation-timing-function: ease-in;*/
}

@keyframes first_anim {
	0% {
		 stroke: white;
	}
	25% {
		stroke: turquoise;
	}
	50% {
		stroke: white;
	}
	75% {
		stroke: turquoise;
	}
	100% {
		stroke: #51C3C7;
	}
}

.st1, .st2, .st3, .st6, .st7, .st8, .st9, .st10, .st11, .st12, .st13, .st14, .st15, .st16, .st17, .st18 {
	animation-name: second_anim;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
	animation-timing-function: linear;
	animation-timing-function: ease-in;
}

@keyframes second_anim {
	0% {
		 opacity: 0;
		 transform: scale(0%);
	}
	100% {
		opacity: 1;
		transform: scale(100%);
	}
}

.mainNav {
	width: 1080px;
	justify-content: center;
}

.mainNav ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	margin: 0 auto;
}

.mainNav ul li {
	font-family: 'Jura', sans-serif;
	display: inline;
	font-size: 16.65px;
	/*margin-left: 20px;*/
	float: left;
	display: block;
	background-color: rgba(0, 0, 0, 0.5); 
	border-right: 0.1px solid #666; 
}

.mainNav ul li:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.mainNav ul li a  {
	padding: 18px 35.65px 18px 35.6px;
	display: block;
	text-align: center;
	color: white;
}

.mainNav ul li a:hover {
	color: black;
	filter: grayscale(0);

}

.mainFooter {
	background: url(../images/footerImg.jpg);
	margin-top: 20px;
	width: 1080px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.footerNav ul {
	word-spacing: 5px;
	width: 1080px;
	list-style-type: none;
	padding: 0px;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.footerNav ul li {
	font-family: 'Jura', sans-serif;
	display: inline;
	font-size: 16.65px;
	/*margin-left: 20px;*/
	float: left;
	display: block;
	background-color: rgba(0, 0, 0, 0.5); 
	border-right: 0.1px solid #666; 
}

.footerNav ul li:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.footerNav ul li a  {
	padding: 18px 35.65px 18px 35.6px;
	display: block;
	text-align: center;
	color: white;
}

.footerNav ul li a:hover {
	color: black;
	filter: grayscale(0);

}

#iconNav {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	list-style: none;
  margin: 0;
  padding: 0
}

#iconNav li
{	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
}

#iconNav li a
{
  filter: grayscale(100%);
}

#iconNav li a:hover
{
  filter: grayscale(0%);
}

#copyText {
	margin-left: 60px;
	padding-left: 0px;
	color: #000;
	margin-top: 10px;
	font-size: 10px;
	padding-bottom: 10px;
}

.copyRight {
	margin-left:800px;
}

.welcome {
	background-color: transparent;
	width: 1064px;
	height: 708px;
	margin-left: 8px;
	margin-top: 20px;
	perspective: 1000px;
}

.welcomeInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: 0.5s;
	transform-style: preserve-3d;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
}

.welcome:hover .welcomeInner {
	transform: rotateY(180deg);
}


.welcomeFront {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.welcomeBack {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.welcomeFront {
	background-color: #bbb;
	color: black;
	z-index: 2;
}

.welcomeBack  {
	color: white;
	transform: rotateY(180deg);
	z-index: 1;
}


.welcome img {
	width: 1064px;
	height: 708px;
}

.welcome h2 {
	font-family: 'Kodchasan', sans-serif;
	font-size: 60px;
	margin-top: 180px;
}

.welcome p {
	font-family: 'Kodchasan', sans-serif;
	font-size: 30px;
	margin-top: 100px;
}

.generalMeet {
	width: 1064px;
	height: 708px;
	margin-left: 8px;
	margin-top: 20px;
	background-color: transparent;
	perspective: 1000px;
}

.generalMeetInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: 0.5s;
	transform-style: preserve-3d;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
}

.generalMeet:hover .generalMeetInner {
	transform: rotateY(-180deg);
}


.generalMeetFront {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.generalMeetBack {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.generalMeetFront {
	background-color: #bbb;
	color: black;
	z-index: 2;
}

.generalMeetBack  {
	color: white;
	transform: rotateY(-180deg);
	z-index: 1;
}


.generalMeet img {
	width: 1064px;
	height: 708px;
}

.generalMeet h2 {
	font-family: 'Kodchasan', sans-serif;
	font-size: 50px;
	margin-top: 100px;
}

.generalMeet p {
	font-family: 'Kodchasan', sans-serif;
	font-size: 28px;
	margin-top: 100px;
	line-height: 40px;
}

.memFun{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 1064px;
	margin-left: 8px;
	margin-top: 20px;
}

.weDo {
	padding: 25px;
}

.weDo h2 {
	font-family: 'Kodchasan', sans-serif;
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
}

.weDo h3 {
	font-family: 'Kodchasan', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
}

.weDo p {
	font-family: 'Kodchasan', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
	padding:
	align-content: space-between;
	line-height: 30px;
}

.history {
	padding: 25px;
}

.history h2 {
	font-family: 'Kodchasan', sans-serif;
	font-size: 28px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.history p {
	font-family: 'Kodchasan', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
	padding:
	align-content: space-between;
	line-height: 30px;
}