@charset "UTF-8";

.hidden
{
  display: none;
}



body {
	width: 1280px;
	background: linear-gradient(0deg, #C5FFFC, #FF81B0);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: monospace;
	display: flex;
	margin: 0 20px;
	padding: 0;
	color: #fff;
}

main {
	width: 980px;
	background-color: #ee3621;
	background: linear-gradient(0deg, #2DEFFF, #FF1A66);
}



.container {
	width: 970px;
	padding-left: 10px;
	height: auto;
	margin: 0 auto;
	margin-left: 260px
	/*margin-right: 70px;*/
}

.mainHeader {
	width: 960px;
	background-color: black; 
	background: url(../images/headerImg2.jpg);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	margin-top: 0px;
}

.mainNav {
	margin-left: 0px;
	width: 960px;
	/*margin-top: 20px;*/
	justify-content: center;
}
.logoHeader img {
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 35px;
	/*background: white;*/
	/*margin-top: 5px;
	margin-left: 10px;*/
	height: 200px;
	width: 220px;
}

.mainNav ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	margin: 0 auto;
}

.mainNav ul li {
	display: inline;
	font-size: 13px;
	/*margin-left: 20px;*/
	float: left;
	display: block;
	background-color: rgba(0, 0, 0, 0.5); 
	border-right: 0.1px solid #666; 
}

.mainNav ul li:hover {
	background-color: rgba(255, 255, 255, 0.8);
	background-repeat: no-repeat;
}

.mainNav ul li a  {
	padding: 18px 35.65px 18px 35.6px;
	display: block;
	text-align: center;
	color: white;
}

.mainNav ul li a:hover {
	color: black;
}

#mainDiv {
	display: flex;
	flex-direction: row;
}

.subDiv {
	display: flex;
	flex-direction: column;
}

.welcome {
	margin-top: 10px;
	width: 640px;
	background: #000;
	background: url(../images/headerImg3.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	margin-right: 10px;
}

.welcome h2 {
	margin-right: auto;
	font-size: 45px;
	text-align: center;
	word-spacing: 20px;
	letter-spacing: 5px;
	margin-top: 30px;
	color: #000;
}

.welcome h3 {
	text-align: center;
	margin-top: 30px;
	font-size: 35px;
	color: #000;
}

.welcome p {
	font-size: 25px;
	margin-top: 30px;
	line-height: 30px;
	padding-bottom: 30px;
	color: #000;
}
.generalMeet {
	margin-top: 10px;
	width: 640px;
	background: #000;
	background: url(../images/headerImg3.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
}

.generalMeet h2 {
	margin-right: auto;
	font-size: 45px;
	text-align: center;
	word-spacing: 30px;
	letter-spacing: 5px;
	padding-top: 30px;
	color: #000;
}

.generalMeet p {
	font-size: 20px;
	margin-top: 30px;
	line-height: 25px;
	padding-bottom: 30px;
	color: #000;
}

#fundRaising {
	margin-top: 10px;
	background-color: transparent;
	width: 280px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	line-height: 20px;
}

#fundRaising h3 {
	font-size: 25px;
}

.org {
	width: 960px;
	margin: 10px 10px 0 0;
	justify-content: space-between; /* doubt */
	background: url(../images/headerImg3.jpg);
	background-repeat: no-repeat;
}

.org h1 {
	padding: 10px;
	font-size: 45px;
	text-align: center;
}

.org img {
	margin: 20px 0 20px 34px;
	height: 60px;
	border: 2px solid #fff;
	padding: 5px;
}

/*.last {
	margin-right: 0px;*/
}

#mainFooter {
	width: 960px;
	display: flex;
	flex-direction: column;
}

.footerNav ul {
	width: 960px;
	display: flex;
	flex-direction: row;
}

#iconNav {
	display: flex;
	flex-direction: row;
}

.mainFooter {
	margin: 10px 10px 0 0;
	background: url(../images/headerImg3.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
}

.mainFooter ul li {
	padding: 20px 40px 10px 0px;
}

.copyRight {
	margin-top: 0px;
}

#copyText {
	font-size: 10px;
	padding-bottom: 10px;
}

/* end of index.html */
/* about us */

.history, .more {
	margin-top: 10px;
	width: 640px;
	background: #000;
	background: url(../images/headerImg3.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	margin-right: 10px;
	}

.history h2, .more h2 {
	margin-right: auto;
	font-size: 45px;
	text-align: center;
	/*word-spacing: 10px;
	letter-spacing: 5px;*/
	margin-top: 20px;
	color: #000;
}

.history p, .more p {
	font-size: 20px;
	margin-top: 20px;
	line-height: 30px;
	padding-bottom: 20px;
	color: #000;
}

.history h3 {
	margin-right: auto;
	font-size: 25px;
	text-align: left;
	/*word-spacing: 10px;
	letter-spacing: 5px;*/
	margin-top: 20px;
	color: #000;	
}

/* end of about us */
/* projects */

.welcome button {
	margin: 10px 10px 10px 5px;
	width: 300px;
	height: 40px;
	border-radius: 5px;
	background-color: skyblue;
	color: black;
}

/* contact */

.welcome h4 {
	text-align: left;
	margin-top: 30px;
	font-size: 25px;
	color: #000;
}
















